<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="ConsoleServerWCF">
          <serviceMetadata httpGetEnabled="true" httpGetUrl="http://localhost:8080/algorithms" policyVersion="Policy15"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service behaviorConfiguration="ConsoleServerWCF" name="ConsoleServerWCF.Algorithm">
        <endpoint name="endpoint_wsHttpBinding" address="http://localhost:8080/algorithms" contract="ConsoleServerWCF.IAlgorithm" binding="wsHttpBinding"/>
      </service>
    </services>
  </system.serviceModel>
  <connectionStrings>
    <add name="connstring" connectionString="Data Source=(LocalDB)\LocalDB; Initial Catalog=AlgorithmDB; Integrated Security=SSPI;"/>
  </connectionStrings>
</configuration>
